<body>

<h1 class="text-center mt-4 text-black">Alpha Bloggers</h1>

<div class="flickr_pagination mb-4">
  <%= will_paginate @user, :container => false %>
</div>

<div id="page-content">
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <%for user in @user %>
        <div class="card text-center mt-4">
          <div class="card-header font-italic">
             <%= link_to user.username, user %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to gravatar(user,size:80), user ,class:"text-success"%></h5>
            <p class="card-text"><%= user.email %></p>
            <div class="row">
              <div class="col-6">
                <%= link_to "View", user ,class:"btn btn-outline-success"%>
                <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
              </div>
              <div class="col-6">
                <% if logged_in? and current_user == user %>
                  <%= link_to "Edit", edit_user_path(user) ,class:"btn btn-outline-success"%>  
                <% elsif logged_in? and current_user.admin? %>
                  <%= link_to "Delete", user ,method: :delete ,:data => {:confirm => 'Are you sure?'} ,class:"btn btn-outline-danger"%>
                <% else %>
                  <%= link_to "Edit", edit_user_path(user) ,class:"btn btn-outline-danger disabled"%>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= user.created_at %> ago, edited <%= user.updated_at%></small>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
</div>

<div class="flickr_pagination mb-4 mt-4">
  <%= will_paginate @user, :container => false %>
</div>

</body>